.comments {
  background-color: $colorGray;
  padding: 1em;
}

.comment {
  position: relative;
  margin-top: 1em;
}

.comment__header {
  display: flex;
}

.comment__name {
  flex: 1;
}

.comment__meta {
  small {
    position: relative;
    top: 1px;
  }
}

.comment__meta__item {
  float: left;
  margin-left: 0.25em;
}

.comment__settings__menu {
  top: 3em;
  right: 1em;
  z-index: 1;
}

.comment__body {
  padding-left: 2.5em;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.comment__new {
  .avatar {
    left: 0.75em;
    position: absolute;
    top: 0.5em;
  }

  input {
    padding-left: 3em;
    background-color: lighten($colorGray, 3%);

    &:hover {
      background-color: white;
    }
  }
}

.comment-enter {
  opacity: 0.01;
  transform: scale(0.5);

  &.comment-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s $ease-in-out-back;
  }
}

.comment-leave {
  opacity: 1;
  transform: scale(1);

  &.comment-leave-active {
    opacity: 0.01;
    transform: scale(1.5);
    transition: all 0.1s $ease-in-out-back;
  }
}
