.dropdown {
  position: relative;

  &.show-menu {
    z-index: 99;
  }
}

.menu {
  background-color: $colorGrayDark;
  color: $colorGray;
  min-width: 10em;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top center;
}

.menu__item {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 2;
  padding: 0 0.5em;
  white-space: nowrap;

  &:hover {
    background-color: $colorBrand;
  }

  .icon {
    fill: $colorGrayMid;
    margin-right: 0.5em;
    position: relative;
    top: 0.3em;
  }
}

.menu-enter {
  opacity: 0.01;
  transform: translateY(-1em) scale3d(1, 0.75, 1);

  &.menu-enter-active {
    opacity: 1;
    transform: translateY(0) scale3d(1, 1, 1);
    transition: all 0.15s $ease-in-out-back;
  }
}

.menu-leave {
  opacity: 1;
  transform: translateY(0) scale3d(1, 1, 1);
  z-index: 99;

  &.menu-leave-active {
    opacity: 0.01;
    transform: translateY(-1em) scale3d(1, 0.75, 1);
    transition: all 0.2s $ease-in-out-back;
    z-index: 99;
  }
}
