.wrapper {

}

.container {
  display: flex;
  background-color: white;
}

.sidebar {
  flex: 1;
}

.main {
  flex: 4;
  padding: 1em;
}

.section {
  display: flex;
  + .section {
    margin-top: $offset;
  }
}

.section__content {
  flex: 3;
}

.section__inspector {
  flex: 2;
}

.section__header {
  margin-bottom: 1em;
}

.nav {
  + .nav {
    margin-top: 1em;
  }

  a {
    display: block;
    // font-weight: bold;
    padding: 0.25em 0;
    color: $colorGrayDark;

    &:hover {
      color: $colorBrand;
    }
  }
}
