.wrapper {

}

.app-header {
  padding: 0 $offset;
  line-height: $headerHeight;
  background-color: $colorGrayMid;
  height: $headerHeight;
}

.container {
  width: 100vw;
}

.sidebar {
  width: $sidebarWidth;
  padding: $offset;
  background-color: $colorGray;
  position: fixed;
  left: 0;
  top: $headerHeight;
}

.main {
  left: $sidebarWidth;
  position: absolute;
  top: $headerHeight;
  right: 0;
}

.section {
  display: flex;
  align-items: stretch;
}

.section__content {
  flex: 0 0 auto;
  padding: $offset;
  width: 60%;
  position: relative;

  .section + .section & {
    border-top: 3px solid $colorGray;
  }
}

.section__inspector {
  background-color: lighten($colorGrayDark, 3%);
  flex: 1 0 auto;

  .section + .section & {
    border-top: 3px solid $colorGrayDark;
  }
}

.section__header {
  margin-bottom: 1em;

  .inline-edit__default {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.nav {
  + .nav {
    margin-top: 1em;
  }

  a {
    display: block;
    padding: 0.25em 0;
    color: $colorGrayDark;

    &:hover {
      color: $colorBrand;
    }
  }
}
