.tab-container {
  margin-top: 1em;
}

.tab {
  user-select: none;
  line-height: 2;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
  margin-right: 1em;

  &:hover,
  &.active-tab {
    color: $colorBrand;
    border-color: $colorBrand;
  }
}

.tabs__pane {
  border: 3px solid $colorGray;
}
