$tabBorderWidth: 3px;

.tabs__container {
  margin: $offset 0;
}

.tabs {
  display: flex;
}

a.tab {
  border: $tabBorderWidth solid transparent;
  border-bottom: 0;
  color: $colorBrand;
  cursor: pointer;
  display: inline-block;
  flex: 1;
  font-weight: bold;
  line-height: 2;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  user-select: none;

  &:hover {
    border-color: $colorGray;
    text-decoration: none;
  }

  &.is-selected {
    border-color: $colorGrayMid;
    cursor: default;

    &::after {
      background-color: white;
      content: "";
      height: $tabBorderWidth;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%;
    }
  }

  + .tab {
    margin-left: 0.5em;
  }
}

.tabs__pane {
  border: $tabBorderWidth solid $colorGrayMid;
  padding: 1em;
}
